html{
  height: 95vh;
}


body {
  /* background-image: url("../public/img/numbers-closeup-metal-dice-gold-Dungeons-and-Dragons-229829-wallhere.com.jpg"); */
  background-size:auto;
  height: 100%;
  background-repeat:no-repeat ;

}

.row{
  height: 100%; 
}

#root, .App{
  height: 100%;
  
}

.clip-photo {
  clip-path: circle(40%);
}

.cardLink:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.invalid {
  border-color: red !important;
  color: red !important;
}
